/* colors
yellow: F9BE00
navy: 192B37
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---------- Temporary styles for structural html (first step)*/

/* * {
    padding: 0.5rem;
    border: 2px solid rgb(225, 225, 225);
} */

/* section {
    padding: 0.5rem;
    /* border: 2px solid rgb(225,225,225); 
} */

/* body { border: none;}
html { border: none;} */

/* ------------ Image styles */

.bg-image {
    background-image: url('/images/sleeping-dog.jpg');
    background-size: cover;
    min-height: 100px;
}

/* ------------ Universal Styles and Utility Classes */

.padding    { padding: 5%;}
.padding-sm { padding: 1rem;}
.padding-lg { padding: 10%;}

.bg-dark { 
    background-color: #192B37;
    color: white;       
}

/* fonts & colors (Universal Styles) 
Catamaran
Extra-light 200
Regular 400
Medium 500
Bold 700
Extra-bold 800
*/

body {
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
}
.tall-50    {min-height: 50vh;}
.tall-60    {min-height: 60vh;}
.tall-70    {min-height: 70vh;}
.tall-80    {min-height: 80vh;}
.tall-90    {min-height: 90vh;}
.tall-100   {min-height: 100vh;}

/* ------------------ Typography Styles */

.text-left    {text-align: left;}
.text-center  {text-align: center;}
.text-right   {text-align: right;}

/* we want this class to be resusable even if we change the color */
.color-text             {color: #F9BE00;}
.white-text             {color: white}
.font-weight-normal     {font-weight: 400;}
.font-weight-light      {font-weight: 200;}
.font-weight-extra-bold {font-weight: 800;}

.small-text  { font-size: 1.5rem;}
.medium-text { font-size: 1.9rem;
               line-height: 1.1;}
.big-text    { font-size: 4rem;}

.subtitle {
    font-size: 1rem;
    color: rgb(120,120,125);
}

.quote-icon {
    font-size: 5rem;
    display: inline-block;
    color: rgb(120,120,125);
    line-height: 1;
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
    /* adding line height here will ensure we keep this line of text as we want it even when the page shrinks */
    line-height:1.1;
    /* space between h2 and p */
    margin-bottom: 1rem;
}

h3 {
    line-height: 1;
}


p {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

/* used to element space at the bottom of the last paragrach within each parent */
p:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: white;
}

a:hover {
    color: #F9BE00;
}

/* ------------ Header & Footer Styles */

header {
    background-image: url('/Images/bed-lamp.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 5.5rem;
    /* line height is the only space between h1 and h3 since there is no padding or margin. inspect the page to find this out. Line height doesn't need a unit, the number is proportion to the font size itself */
    line-height: 1;
}

footer a {
    border: none;
}

/* ---------------Background images */

.bg-dog {
    background-image: url('/Images/sleeping-dog.jpg');
    background-position: 50% 35%;
    background-size: cover;
}
.bg-bed {
    background-image: url('/Images/bed-lamp.jpg');
    background-position: 50% 45%;
    background-size: cover; 
}

.bg-pillow {
    background-image: url('/Images/pillow-yellow.jpg');
    background-position: 50% 60%;
}

/* ---------------- Icon Grid */

/* we are targeting the existing class just to prevent the font-awesome class from overriding any element we styles */
.fas {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
}